.App {
  text-align: center;
}

.App-header {
  background-color: #1b366d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(238, 174, 174);
}

.App-link {
  color: #2f7183;
}

